
	<h1>My Lists</h1>
	<p>&nbsp;</p>

	<ul style="list-style: none;">
	<% @lists.each do |list| %>
	    <li style="line-height: 24px;"><div class="list-icon">&nbsp;</div><%= link_to list.name, list %></li>
	<% end %>
	</ul>

	<br />

	<%= link_to 'New List', new_list_path %>

