<h1>Listing lists</h1>

<p>Account: <%= current_user.email %></p>

<ul>
<% @lists.each do |list| %>
    <li><%= link_to list.name, list %></li>
<% end %>
</ul>

<br />

<%= link_to 'New List', new_list_path %>
