body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 68.5%;
	color:  #5E5d49;
}
a,a:visited {
	color: #545454;
}
header {
	background: #5e5d49; 
	padding: 1px 20px;
	line-height: 40px;
	color: #FFF;
	border-bottom: 1px solid #999;
}
header h1 {
	float: left;
	font-size: 1.6em;
	padding-right: 40px;
}
header a, header a:visited {
	text-decoration: none;
	color: #FFF;
}
header a:hover {
	text-decoration: underline;
	color: #FFF;
}
header nav ul
{
	list-style: none;
}
header nav ul li
{
	line-height: 40px;
	display: inline-block;
}
/* Main Busy container */
#busy-container {
	font-size: 1.2em;
	padding: 20px;
	position: relative;
	
}
#busy-container h1 {
	font-size: 1.4em;
	line-height: 26px;
}
#busy-container .busy-list {
	margin-right: 240px;
}
#busy-container .busy-list .busy-list-header {
	padding-bottom: 3px;
}
.list-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/sprites.png) no-repeat -24px 0;
}
.lists-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/sprites.png) no-repeat 0 0;
}
#busy-container .busy-list > ul {
	border: 1px solid #5e5D49; 
	border-width: 1px 0 1px 0;
	list-style:none;
}
#busy-container .busy-list > ul li.list-item-container {
	position: relative; 
	line-height: 2.0em; 
	clear: left; 
	border-bottom: 1px solid #EEE;
}
#busy-container .busy-list > ul li.list-item-container:last-child {
	border-bottom: 0px solid #EEE;
}
#busy-container  li.list-item-container .due-complete {
	position: absolute;
	top: 0; right:0;
	height: 24px;
}
#busy-container  li.list-item-container .twist {
	position: absolute;
	top: 0; left: 0;
	height: 24px;
	width: 24px;
	background: url(../images/sprites.png) no-repeat -120px 0;
}
#busy-container  li.list-item-container .twist.open {
	background-position: -120px -24px;
}
#busy-container  li.list-item-container .twist a {
	display: inline-block;
	height: 24px;
	width: 24px;
	text-decoration: none;
}
#busy-container li.list-item-container .due-complete {
	text-align: right;
	height: 24px;
	line-height: 24px;
}
#busy-container li.list-item-container .due-complete .complete {
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background: url(../images/sprites.png) no-repeat -48px 0;
}
#busy-container li.list-item-container .due-complete .complete:hover {
	background-position: -48px -24px;
}
#busy-container  li.list-item-container .due-complete a
{
	display: block;
	width: 24px;
	height: 24px;
	text-decoration: none;
}
#busy-container  li.list-item-container .action-item {
	margin: 0 24px;
}
#busy-container  li.list-item-container .action-item a {
	text-decoration: none;
}
#busy-container  li.list-item-container .action-item-extra {
	margin-left: 25px; display: none; color: #666; line-height: 1.6em;
}
#busy-container nav.sidebar {
	width: 220px; 
	position: absolute; 
	top: 20px; 
	right: 20px;
}
#busy-container nav .lists {
	list-style: none;
}
#busy-container nav .lists li {
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}
#busy-container nav .lists li.iamhere {
	background: #5e5d49;
	color: #FFF;
	font-weight: bold;
}
#busy-container nav .lists li.iamhere a {
	color: #FFF;
}
#busy-container .busy-list-actions {
	padding: 20px 0;
}
/* End Main Busy Container */
/* Popups */
#new-list-item {
	display: none;
	background: #FFF; 
	min-width: 400px; 
	padding: 20px; 
	border: 3px solid #5e5d49;
}
#new-list-item .advanced {
	display: none;
}
/* End Popups */
.pictos
{
	font-family: Pictos;
	font-weight: normal;
}
