
header {
	background: rgb(224,224,224); 
	height: 60px; 
	padding: 1px 20px;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E6B22E), color-stop(0.3, #FAD05E), color-stop(0.85, #FAE387));
	color: #5e5d49;
}
header a{
	text-decoration: none;
	color: #5e5d49;
}
header a:hover {
	background: none;
	text-decoration: underline;
	color: #545454;
}
#content
{
	padding: 1px 20px;
}