* {
	margin:0;padding:0;
}
html,body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 10pt;
}
a,a:visited {
	color: #545454;
}

#header {
	background: #5e5d49; 
	height: 40px; 
	padding: 1px 20px;
	line-height: 40px;
	color: #FFF;
}
#header h1 {
	float: left;
	font-size: 1.4em;
	padding-right: 40px;
}
#header a{
	text-decoration: none;
	color: #FFF;
}
#header a:hover {
	background: none;
	text-decoration: underline;
	color: #FFF;
}
#content
{
	padding: 1px 20px;
}
ul#navigation
{
	list-style: none;
	padding: 0;
	margin: 0;
}
ul#navigation li
{
	line-height: 40px;
	height: 40px;
	display: inline;
	display: inline-block;
}