<!DOCTYPE html>
<html>
<head>
  <title>busy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1><a href="/">Busy</a></h1>
	</header>

<div id="content" class="unit">
<%= yield %>
</div>
</body>
</html>
