<!DOCTYPE html>
<html>
<head>
  <title>busy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header class="unit">
		<div class="container">
		<h1><a href="/">Busy</a></h1>
		</div>
	</header>

<div class="unit">
	<div class="container">
    <%= yield %>
	</div>
</div>
</body>
</html>
